*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

@media screen and (min-width:767px) and (max-width:992px){
    
}

@media screen and (max-width:767px) {
    
}


.body{
    width: 100%;
    height: 90vh;
    background-color: white;
}

.container{
    width: 80%;
    height: 60vh;
}

.feedback1{
    width: 315px;
    height: 317px;
    background-color: white;
}

.feedback1  p{
    width: 263px;
    white-space: wrap;
}

.feedback1 img{
    width: 50px;
    height: 50px;
}

.feedback1p2{
    width: 263px;
    height: 57px;
    margin-top: 9rem;
}
 
.feedback1p2 p{
    padding-left: 1rem;
}

.feedback2{
    width: 315px;
    height: 317px;
    background-color: white;
}

.feedback2 p{
    width: 263px;
    white-space: wrap;
}

.feedback2 img{
    width: 50px;
    height: 50px;
}

.feedback2p2{
    width: 263px;
    height: 57px;
    margin-top: 9rem;
}

.feedback2p2 p{
    padding-left: 1rem;
}

.feedback3{
    width: 315px;
    height: 317px;
    background-color: white;
}

.feedback3 p{
    width: 263px;
    white-space: wrap;
}

.feedback3 img{
    width: 50px;
    height: 50px;
}

.feedback3p2{
    width: 263px;
    height: 57px;
    margin-top: 9rem;
}

.feedback3p2 p{
   padding-left: 1rem;
}