*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head{
    width: 100%;
    height: 80px;
}

.body{
    width: 100%;
    height: 624px;
}

.me{
    width: 80%;
    height: 500px;
}

.par{
    width: 557;
    height: 270;
    white-space: wrap;
}